apiVersion: apps/v1
kind: Deployment
metadata:
  name: home-assistant
  namespace: home-automation
spec:
  replicas: 1
  selector:
    matchLabels:
      app: home-assistant
  template:
    metadata:
      labels:
        app: home-assistant
    spec:
      dnsPolicy: ClusterFirst
      dnsConfig:
        nameservers:
          - 10.43.0.10 # The standard K3s CoreDNS IP
        searches:
          - home-automation.svc.cluster.local
          - svc.cluster.local
          - cluster.local
      # Use host network if you need SSDP/mDNS discovery for local devices
      hostNetwork: true 
      containers:
      - name: home-assistant
        image: ghcr.io/home-assistant/home-assistant:stable
        env:
        - name: TZ
          value: "Europe/Berlin" # Adjust to your timezone
        volumeMounts:
        - name: config
          mountPath: /config
      volumes:
      - name: config
        hostPath:
          path: /opt/docker-home/hassio
          type: Directory
