name: Deploy Home automation
on:
  push:
    branches: [ main ]
    paths:
      - 'apps/**'
      - 'cluster/**'
      - '.github/workflows/deploy.yml'

jobs:
  deploy:
    runs-on: arc-runner-set
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Deploy to K3s
        run: |
          kubectl apply -R -f cluster/
          
          kubectl apply -R -f apps/
          