name: Deploy Home automation
on:
  push:
    branches: [ main ]
    paths:
      - 'apps/**'
      - 'cluster-init/**'
      - '.github/workflows/deploy.yml'

jobs:
  deploy:
    runs-on: arc-runner-set
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Deploy to K3s
        run: |
          # 1. Always ensure the namespace exists first
          kubectl apply -f cluster-init/namespace.yaml
          
          # 2. Apply all app configurations recursively
          kubectl apply -R -f apps/
          